{% load static %}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={% static "p2.css" %}>
    <link rel="stylesheet" href={% static "p4.css" %}>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Dancing+Script|Lobster|Pacifico|Play|Roboto" rel="stylesheet">
      <title></title>
  </head>
  <body>
    <div class="logo"> <a href="\"></a>
      <img src={% static "imj\logo1.jpg" %} alt="">
    </div>
     <nav>
        <ul>
        <li> <a href="\">HOME</a></li>
        <li> <a href="\signin">LOGIN</a></li>
       <li> <a href="\add_owner">SIGNUP</a></li>
       <li> <a href="\grooming">GROOMING</a></li>
       <li> <a href="\boarding">BOARDING</a></li>
       <li> <a href="\daycare">DAYCARE</a></li>
       <li> <a href="\pricing">PRICING</a></li>
        <li> <a href=\"contactus">CONTACT US</a></li>
            </ul>
           </nav>
           <h1 id="h4u">hAppY PaWs</h1>
        <div class="aa1">
      <form id="aa2" action="create_owner" method="post">
        {% csrf_token %}
        <p> <label for="name">Name:</label><br>
           <input id="aa5" type="text" name="name" required><br>
           <label for="email">EmailId:</label><br>
            <input id="aa6" type="email" name="email" required><br>
             <label> Contact number : <br></label>
               <input id="aa11" type="text" name="contact_no"><br>
              <label> Address : <br></label>
                <textarea id="aa12" cols="20" rows="2" name="address"></textarea><br>
                <label> username : <br></label>
                <input type="text" name="username"><br>
               <label> password : <br></label>
               <input type="password" name="password"><br>
            <input id="aa3" type="submit" name="" value="Add Owner">
            </p>
    </form>

    </div>
    <hr width="100%" color="gold">
    <p> <centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
    Phone: (80423) 745-711 | Fax: (8022) 7445-76284
    Copyright 2018 hAppY PaWs. All Rights Reserved.<br> Web Design <span>SNEHA AND SUBHIKSHA</span> .</font size></centre></p>

  </body>
</html>
