{% load static %}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={% static "p2.css" %}>
    <link rel="stylesheet" href={% static "p5.css" %}>
    <link rel="stylesheet" href={% static "p6.css" %}>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Dancing+Script|Lobster|Pacifico|Play|Roboto" rel="stylesheet">
    <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <title></title>
  </head>
  <body>
    <div class="logo"> <a href="\"></a>
      <img src={% static "imj\logo1.jpg" %} alt="">
    </div>
     <nav>
        <ul>
        <li> <a href="\">HOME</a></li>
        <li> <a href="signin">LOGIN</a></li>
       <li> <a href="add_owner">SIGNUP</a></li>
       <li> <a href="grooming">GROOMING</a></li>
       <li> <a href="boarding">BOARDING</a></li>
       <li> <a href="daycare">DAYCARE</a></li>
       <li> <a href="pricing">PRICING</a></li>
        <li> <a href="contactus">CONTACT US</a></li>
            </ul>
           </nav>
           <h1 id="h4u">hAppY PaWs <br> <h2 ALIGN="center">welcome {{dogs.name}}</h2> </h1>

                 <table ALIGN="center" class="tabs" border="2">
                   <thead>
                     <tr id="tt5">
                       <th id="tt2">service id</th>
                     <th id="tt">Services Added: </th>
                     <th id="tt2">prices</th>
                     </tr>
                   </thead>


                     {% for g in groomings  %}

                    <tbody>
                      <tr id="tl1">
                        <td id="tl2"> {{g.id}}</td>
                        <td id="tl2"> {{g.service}}</td>
                      <td id="tl4">{{g.price}}</td>  <br>
                      </tr>
                    </tbody>

                    {% endfor %}


              </table>
               <h1 id="end" ALIGN="centre">total price: {{final.price__sum}}</h1>
               <form  ALIGN="center"  class="" action="\welcome" method="post">
                 {% csrf_token %}
                  {# <input type="hidden" name="username" value=""> #}
                <input  id="sb" type="submit" placeholder="finish" name="username" value="{{dogs.owner.username}}">


                </form>
              <hr width="100%" color="silver">
              <p> <centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
              Phone: (80423) 745-711 | Fax: (8022) 7445-76284
              Copyright 2018 hAppY PaWs. All Rights Reserved.<br> Web Design <span>SNEHA AND SUBHIKSHA</span>
            </font size></centre></p>


    <hr width="100%" color="gold">
  </body>
</html>
