{% load static %}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={% static "p2.css" %}>
    <link rel="stylesheet" href={% static "p5.css" %}>
    <link rel="stylesheet" href={% static "p6.css" %}>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Dancing+Script|Lobster|Pacifico|Play|Roboto" rel="stylesheet">
      <title></title>
  </head>
  <body background={% static "imj\boarding.jpg" %}>
    <div class="logo"> <a href="/"></a>
      <img src={% static "imj\logo1.jpg" %} alt="">
    </div>
    <nav>
       <ul>
       <li> <a href="\">HOME</a></li>
       <li> <a href="signin">LOGIN</a></li>
      <li> <a href="add_owner">SIGNUP</a></li>
      <li> <a href="grooming">GROOMING</a></li>
      <li> <a href="boarding">BOARDING</a></li>
      <li> <a href="daycare">DAYCARE</a></li>
      <li> <a href="pricing">PRICING</a></li>
       <li> <a href="contactus">CONTACT US</a></li>
           </ul>
          </nav>
           <h1 id="h4u">hAppY PaWs</h1>
           <div class="tex">
           <p>Dogs will love their own private room with a long private patio for stretching their legs.</p>
           <p>All rooms are comfortably air-conditioned and heated.</p>
           <p>We offer personalized room service and housekeeping through out the day.
           Our kennels are bright, roomy, and spotlessly clean.</p>
          <p>All boarding stays include FREE daily playcare where they can romp and run and relax the night away.</p>
           <p>Additionally,
            each and every guest receives a minimum of 2 exercise sessions per day.</p>
            <p> The dogs are rotated out individually, or in groups based upon size and temperament.

            <br> We realize that all dogs are not friendly,
             and some even prefer to stay to themselves. We are committed to your pets well being and comfort while in our care!</p>
           <p>  We offer separate secure fenced areas for small dogs, large dogs,

              and those who would just prefer to run and sniff privately. </p>
             <p>happy paws provides love, exercise and human/canine companionship in a safe and fun environment!</p>
          </div>
           <hr width="100%" color="gold">
           <p> <centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
           Phone: (80423) 745-711 | Fax: (8022) 7445-76284
           Copyright 2018 hAppY PaWs. All Rights Reserved.<br> Web Design <span>SNEHA AND SUBHIKSHA</span> .</font size></centre></p>
  </body>
</html>
