
{% load static %}
<!doctype html>
<html>
 <head>
   <link rel="stylesheet" href={% static "part1_master.css" %}><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


    <title> boarding services</title>
    <style>
      body{
        margin:0;
        pading:0;
        background position:centre;
        background-repeat:no-repeat;
        background-size: cover;
        height:1100px;
        font-family:sans-serif;
        position: relative;
      }
    </style>
   </head>

    <body background={% static "images\boardingn image.jpg" %}>
      <form class="ABC" action="" method="get">

        <h1 id="AA"> HAPPY PAWS</h1>
        <p></p>
        <p></p>
        <div class="browse">

            <a href="\">HOME</a>
            <a href="signin">LOGIN</a>
            <a href="add_owner">SIGNUP</a>
            <span id="hello">
          <a href="grooming">GROOMING</a>
          <a href="boarding">BOARDING</a>
          <a href="daycare">DAYCARE</a>
        </span>
              <a href="pricing">PRICING</a>
            <a href="contactUs">CONTACT US</a>
          </div align="center">
      </form>

<p style="font-family:calibri; font-size:4opx; color="black">
  <h1 ALIGN="center"> BOARDING</h1>
<font size="4" face="Gill Sans ><p><h1 align="center"><font size="6" face="Papyrus">We provide a fun, safe and loving atmosphere for your special canine friend.
</p></font></h1> <br> <br> <br> <br>
<p>Dogs will love their own private room with a long private patio for stretching their legs.</p> <p>All rooms are comfortably air-conditioned and heated.</p>
<p>We offer personalized room service and housekeeping through out the day.
Our kennels are bright, roomy, and spotlessly clean.</p> <p>All boarding stays include FREE daily playcare where they can romp and run and relax the night away.</p>
<p>Additionally,
 each and every guest receives a minimum of 2 exercise sessions per day.</p> <p> The dogs are rotated out individually, or in groups based upon size and temperament.

 <br> We realize that all dogs are not friendly,
  and some even prefer to stay to themselves. We are committed to your pets well being and comfort while in our care!</p>
<p>  We offer separate secure fenced areas for small dogs, large dogs,

   and those who would just prefer to run and sniff privately. </p>
  <p>happy paws provides love, exercise and human/canine companionship in a safe and fun environment!</p>

  <hr width="100%" color="gold">
  <p><centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
  Phone: (80423) 745-711 | Fax: (8022) 7445-76284
  Copyright 2018 Happy Paws. All Rights Reserved. Web Design by Raycomi Media.</font size></centre></p> </body> </html
