{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={% static "p2.css" %}>
    <link rel="stylesheet" href={% static "p5.css" %}>
    <link rel="stylesheet" href={% static "p6.css" %}>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Dancing+Script|Lobster|Pacifico|Roboto" rel="stylesheet">

    <title></title>
  </head>
  <body background={% static "imj\cu1.jpg" %}>
  <div class="logo"> <a href="/"></a>
    <img src={% static "imj\logo1.jpg" %} alt="">
  </div>
  <nav>
     <ul>
     <li> <a href="\">HOME</a></li>
     <li> <a href="signin">LOGIN</a></li>
    <li> <a href="add_owner">SIGNUP</a></li>
    <li> <a href="grooming">GROOMING</a></li>
    <li> <a href="boarding">BOARDING</a></li>
    <li> <a href="daycare">DAYCARE</a></li>
    <li> <a href="pricing">PRICING</a></li>
     <li> <a href="contactus">CONTACT US</a></li>
         </ul>
        </nav>
         <h1 id="h4u">hAppY PaWs</h1>
         <div class="tex">

         <h1 id="hed">Contact Us</h1>
    <p>Here at Dogs Day Inn, we believe pets are another member of the family.
    Dog’s Day Inn offers exceptional pet boarding, pet grooming, and day care services at affordable prices.
    For more than 28 years, we have given pet owners the peace of mind
    in knowing that their pets are receiving the personal care that they deserve.
    Our experienced staff caters to each pet individually,
    and ensures that they are receiving the proper diet, medication and supervision during
     their stay here at Dog’s Day Inn.
          As a family owned and operated business we are committed to the highest quality of care for your
          dog or cat, giving you peace of mind that your pet is receiving the same care,
          love and attention they would receive in their own home.</p>
      <h1 id="hed">Our Location</h1>
       <p ALIGN="left">
       Dogs Day Inn
       (804) 745-7173

       213 Granite Spring Road
       Richmond, VA 23225
       FAX: (804) 745-7684
       dogsdayinnrichmondva@gmail.com

       Hours of Operation:
       Monday – Saturday: 8am – 6pm
       Sunday: 4pm – 5pm

       Grooming is not available on Sunday,
        except for our boarders receiving check-out treatment.
         We do not allow pick-ups or drop-offs on major holidays or before or after hours.
         No exceptions</p>

                  </div>
         <hr width="100%" color="gold">
         <p> <centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
         Phone: (80423) 745-711 | Fax: (8022) 7445-76284
         Copyright 2018 hAppY PaWs. All Rights Reserved.<br> Web Design <span>SNEHA AND SUBHIKSHA</span> .</font size></centre></p>
</body>
</html>
