{% load static %}
<html>
<head>
<title>contact us</title>
<form action="" method="post">
<body background={% static "dog4.jpg" %}>
<p>
<font size="12" face="Ink Free" color="cyan">
CONTACT US
</font></p>
<font size="6" face="Gill Sans MT" color="black"><label> Name: <br><input type="text" name="Name"><br></font></label>
<font size="6" face="Gill Sans MT" color="black"><label> Email ID : <br><input type="text" name="Email ID"><br></label>
<font size="6" face="Gill Sans MT" color="black"><label> Contact number : <br><input type="text" name="contact number"><br></label>
<font size="6" face="Gill Sans MT" color="black"><label> Pet Name : <br><textarea cols="30" rows="2" name="pet name"></textarea></label><br>
<font size="6" face="Gill Sans MT" color="black"><label> Address : <br><textarea cols="40" rows="3" name="address"></textarea></label><br>
<input type="submit" name="submit" value="submit">
<br>
<br>
<hr width="100%" color="gold">
<p><centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
Phone: (80423) 745-711 | Fax: (8022) 7445-76284
Copyright 2018 Happy Paws. All Rights Reserved. Web Design by Raycomi Media.</font size></centre></p>
