{% load static %}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={% static "p2.css" %}>
    <link rel="stylesheet" href={% static "p5.css" %}>
    <link rel="stylesheet" href={% static "p6.css" %}>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Dancing+Script|Lobster|Pacifico|Play|Roboto" rel="stylesheet">
      <title></title>

  </head>
  <body background={% static "imj\daycare.jpg" %}>
    <div class="logo"> <a href="/"></a>
      <img src={% static "imj\logo1.jpg" %} alt="">
    </div>
    <nav>
       <ul>
       <li> <a href="\">HOME</a></li>
       <li> <a href="signin">LOGIN</a></li>
      <li> <a href="add_owner">SIGNUP</a></li>
      <li> <a href="grooming">GROOMING</a></li>
      <li> <a href="boarding">BOARDING</a></li>
      <li> <a href="daycare">DAYCARE</a></li>
      <li> <a href="pricing">PRICING</a></li>
       <li> <a href="contactus">CONTACT US</a></li>
           </ul>
          </nav>
           <div class="atc">
           <h1 id="h4u">hAppY PaWs</h1>
           <div class="texi">

           <p>
           We offer Doggy Daycare Monday through Saturday from 8am to 6pm.</p>
           <p> Your puppy can play with his friends all day long in one of our spacious supervised yards.
           We have multiple fenced yards, and offer separate areas for small and large dogs.
           There is plenty of trees for shade and room to run.</p>
           <br>
           <p>Is your dog home all day, while you're at work</p>
           <p> Bring them into our pet day care program, where they can spend the day exercising and socializing, while you go to work worry-free.
           They will have a blast playing with the other dogs, and will surely tire themselves out for the night.</p>
           <p>We believe that it is critical to find a balance between socialization, exercise, and playtime for dogs of all ages.
           We will make sure that your furry loved on is placed in the environment most appropriate for him where he will thoroughly enjoy his stay.</p>

           </div>
           <hr width="100%" color="gold">
<p> <centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
Phone: (80423) 745-711 | Fax: (8022) 7445-76284
Copyright 2018 hAppY PaWs. All Rights Reserved.<br> Web Design <span>SNEHA AND SUBHIKSHA</span> .</font size></centre></p>
</body>
</html>
