	<!doctype html>
	{% load static %}
<html>
<head>
	<link rel="stylesheet" href={% static "part1_master.css" %}>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<title>daycare</title>
<style>
	body{
		margin:0;
		pading:0;
		background position:centre;
		background-repeat:no-repeat;
		background-size: cover;
		height:1100px;
		font-family:sans-serif;
		position: relative;
	}
</style>
</head>
<body id="key" background={% static "home page AND DAYCARE.jpg" %}>
	<form class="ABC" action="" method="get">

		      <h1 id="AA"> HAPPY PAWS</h1>
		      <p></p>
		      <p></p>
					<div class="browse">

		 	       <a href="\">HOME</a>
		 	       <a href="signin">LOGIN</a>
		 	       <a href="add_owner">SIGNUP</a>
		 	       <span id="hello">
		 	     <a href="grooming">GROOMING</a>
		 	     <a href="boarding">BOARDING</a>
		 	     <a href="daycare">DAYCARE</a>
		 	   </span>
		 	         <a href="pricing">PRICING</a>
		 	       <a href="contactUs">CONTACT US</a>
		 	     </div>
		  </form>

<H1 ALIGN="center">
<p>
<font size="12" face="Ink Free" color="blue">
DAYCARE
</font></p>
<p style="font-family:calibri; font-size:4opx; color="white">
<font size="4" face="Gill Sans ></p>
<p><h1 align="left"><font size="5" face="Papyrus">
daycare services are offered Monday through Saturday.</h1>
</p>
<br>
<p>
We offer Doggy Daycare Monday through Saturday from 8am to 6pm.</p>
<p> Your puppy can play with his friends all day long in one of our spacious supervised yards.
We have multiple fenced yards, and offer separate areas for small and large dogs.
There is plenty of trees for shade and room to run.</p>
<br>
<p>Is your dog home all day, while you're at work?</p>
<p> Bring them into our pet day care program, where they can spend the day exercising and socializing, while you go to work worry-free.
They will have a blast playing with the other dogs, and will surely tire themselves out for the night.</p>
<p>We believe that it is critical to find a balance between socialization, exercise, and playtime for dogs of all ages.
We will make sure that your furry loved on is placed in the environment most appropriate for him where he will thoroughly enjoy his stay.</p>

<hr width="100%" color="gold">
<p><centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
Phone: (80423) 745-711 | Fax: (8022) 7445-76284
Copyright 2018 Happy Paws. All Rights Reserved. Web Design by Raycomi Media.</font size></centre></p>
