	<!doctype html>
	{% load static %}
<html>
<head>
	<meta charset="utf-8">
<link rel="stylesheet" href={% static "part1_master.css" %}>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<title> grooming</title>
<style>
	body{
		margin:0;
		pading:0;
		background position:centre;
		background-repeat:no-repeat;
		background-size: cover;
		height:1100px;
		font-family:sans-serif;
		position: relative;
	}
</style>
</head>
<body background={% static "images\grooming image.jpg" %}>

	<form class="ABC" action="" method="get">

		      <h1 id="AA"> HAPPY PAWS</h1>
		      <p></p>
		      <p></p>
<div class="browse" background="yellow">

	      <a href="\">HOME</a>
	      <a href="signin">LOGIN</a>
	      <a href="add_owner">SIGNUP</a>
	      <span id="hello">
	    <a href="grooming">GROOMING</a>
	    <a href="boarding">BOARDING</a>
	    <a href="daycare">DAYCARE</a>
	  </span>
	        <a href="pricing.html">PRICING</a>
	      <a href="contactus">CONTACT US</a>
</div></form>
<H1 ALIGN="center">
<p>
<font size="12" face="Ink Free" color="black">
GROOMING
</font></p>
<p>
<font size="4" face="Gill Sans MT" font color="black">
<p><h1 align="left"><font size="5" face="Papyrus">
Grooming services are offered Monday through Saturday.
</p></h1>
<br>
<p>We offer complete and gentle grooming services Monday through Saturday.</p>
<p> This includes stylish clips/trims with a soothing bath using a variety of all natural
	 products, such as flea treatments,
	 whiteners, and conditioning oatmeal.</p>
<p>Get a pedicure (nail trim) and for fun or fashion have your dogs nails painted or hair dyed.</p>
<p>We also offer the option of having your pet bathed and groomed before being picked up from boarding with us.</p>
<p> Bathing is done 7 days a week, but only for the boarders on Sunday!</p>
<br>
<p><h1 align="left"><font size="3" face="Rockwell">Regular grooming is not
	 just a luxury its absolutely essential for your pets health and well being.</p></font></h1>
<p>We are pleased to pamper your pet lovingly and with unmatched expertise.</p>
<br>
<p>Dogs Day Inn offers high quality, specialty shampoos and conditioners to maintain your pets coat in optimum condition,
	 and all grooms can be customized to your lifestyle and preferences.</p>

	<hr width="100%" color="gold">
	<p><centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
	Phone: (80423) 745-711 | Fax: (8022) 7445-76284
	Copyright 2018 Happy Paws. All Rights Reserved. Web Design by Raycomi Media.</font size></centre></p></body></html>
