{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

   <link rel="stylesheet" href={% static "part1_master.css" %}>
    <title></title>
  </head>
  <body background color ="black">
    <form class="ABC" action="" method="post">

      <h1 id="AA"> HAPPY PAWS</h1>
      <p></p>
      <p></p>
  <div class="browse">

      <a href="\">HOME</a>
      <a href="signin">LOGIN</a>
      <a href="add_owner">SIGNUP</a>
      <span id="hello">
    <a href="grooming">GROOMING</a>
    <a href="boarding">BOARDING</a>
    <a href="daycare">DAYCARE</a>
  </span>
        <a href="\pricing.html">PRICING</a>
      <a href="contactus">CONTACT US</a>
    </div>
  </form>

    <img src={% static "home page AND DAYCARE.jpg" %} alt="opps!" align="left">

  <div class="area">

<h2 >Boarding Services</h2>
<h4>Boarding services are offered 24 hours a day, 365 days a year!</h4>
<h3>“We provide a fun, safe and loving atmosphere for your special canine friend.”</h3>

<p>Dogs will love their own private room with a long private patio for stretching their legs. All rooms are comfortably air-conditioned and heated. We offer personalized room service and housekeeping through out the day. Our kennels are bright, roomy, and spotlessly clean. All boarding stays include FREE daily playcare where they can romp and run and relax the night away. Dog’s Day Inn provides love, exercise and human/canine companionship in a safe and fun environment! We offer separate secure fenced areas for small dogs, large dogs, and those who would just prefer to run and sniff privately.

Your dog will be housed in one of our three modern kennel buildings in a private climate controlled suite that has indoor/outdoor access at all times. Additionally, each and every guest receives a minimum of 2 exercise sessions per day. The dogs are rotated out individually, or in groups based upon size and temperament. We realize that all dogs are not friendly, and some even prefer to stay to themselves. We are committed to your pet’s well being and comfort while in our care!

Remember that we are an all inclusive facility, there are no hidden charges!</p>
  </div><hr width="100%" color="gold">
  <p><centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
  Phone: (80423) 745-711 | Fax: (8022) 7445-76284
  Copyright 2018 Happy Paws. All Rights Reserved. Web Design by Raycomi Media.</font size></centre></p>
  </body>
</html>
