	<html>
<head>
<form action="" method="post">
<center><body background="https://images.wallpaperscraft.com/image/dog_nose_face_cute_89881_1920x1080.jpg"></center>
<font size="8" face="Mangal" color="white"><label> Name: <br><input type="text" name="Name"><br></font></label>
<font size="8" face="Mangal" color="white"><label> Email ID : <br><input type="text" name="Email ID"><br></label>
<font size="8" face="Mangal" color="white"><label> Contact number : <br><input type="text" name="contact number"><br></label>
<font size="8" face="Mangal" color="white"><label> Pet Name : <br><textarea cols="20" rows="2" name="pet name"></textarea></label><br>
<font size="8" face="Mangal" color="white"><label> Address : <br><textarea cols="40" rows="4" name="address"></textarea></label><br>
<input type="submit" name="submit" value="submit">
