<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="part1_master.css"> <title>contact us</title>
  </head>
  <body background="C:\Users\sneha\Desktop\happy paws\contact us\bacg.jpg">
    <form class="ABC" action="" method="get">

      <h1 id="AA"> HAPPY PAWS</h1>
      <p></p>
      <p></p>
  <div class="browse">

      <a href="C:\Users\sneha\Desktop\happy paws\homepage.html">HOME</a>
      <a href="C:\Users\sneha\Desktop\happy paws\contact us\log.html">LOGIN</a>
      <a href="C:\Users\sneha\Desktop\happy paws\daycare\SIGNUP.html">SIGNUP</a>
      <span id="hello">
    <a href="C:\Users\sneha\Desktop\happy paws\grooming\grooming.html">GROOMING</a>
    <a href="C:\Users\sneha\Desktop\happy paws\boarding\boarding.html">BOARDING</a>
    <a href="C:\Users\sneha\Desktop\happy paws\daycare\daycare.html">DAYCARE</a>
  </span>
        <a href="C:\Users\sneha\Desktop\happy paws\daycare\pricing.html">PRICING</a>
      <a href="C:\Users\sneha\Desktop\happy paws\daycare\login2.html">CONTACT US</a>
    </div>
  </form>
  <p><h1>Contact Us</h1>
Here at Dogs Day Inn, we believe pets are another member of the family.
Dog’s Day Inn offers exceptional pet boarding, pet grooming, and day care services at affordable prices.
 For more than 28 years, we have given pet owners the peace of mind in knowing that their pets are receiving the personal care that they deserve.
  Our experienced staff caters to each pet individually, and ensures that they are receiving the proper diet, medication and supervision during their stay here at Dog’s Day Inn.
   As a family owned and operated business we are committed to the highest quality of care for your dog or cat, giving you peace of mind that your pet is receiving the same care,
   love and attention they would receive in their own home.</p>
<p ALIGN="left"><h1>Our Location</h1>
Dogs Day Inn
(804) 745-7173

213 Granite Spring Road
Richmond, VA 23225
FAX: (804) 745-7684
dogsdayinnrichmondva@gmail.com

Hours of Operation:
Monday – Saturday: 8am – 6pm
Sunday: 4pm – 5pm

Grooming is not available on Sunday,
 except for our boarders receiving check-out treatment.
  We do not allow pick-ups or drop-offs on major holidays or before or after hours.
  No exceptions</p>
  <hr width="100%" color="gold">
  <p><centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
  Phone: (80423) 745-711 | Fax: (8022) 7445-76284
  Copyright 2018 Happy Paws. All Rights Reserved. Web Design by Raycomi Media.</font size></centre></p>

  </body>
</html>
