
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   <link rel="stylesheet" href="part1_master.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <title>owner details</title>
    <style>
      body{
        margin:0;
        pading:0;
        background position:centre;
        background-repeat:no-repeat;
        background-size: cover;
top: 0px;
        height:900px;
        font-family:sans-serif;
        position: relative;
      }
    </style>
  </head>
  <body class="im" background="images\owner image.jpg" opacity="1" >

    <form class="ABC"  method="get">

      <font size="8" face="Mangal" color="blue">  <h1  ALIGN="center"> HAPPY PAWS</h1></font>
      <p></p>
      <p></p>
  <div class="browse">

              <a href="homepage.html">HOME</a>
              <a href="log.html">LOGIN</a>
              <a href="SIGNUP.html">SIGNUP</a>
              <span id="hello">
            <a href="grooming.html">GROOMING</a>
            <a href="boarding.html">BOARDING</a>
            <a href="daycare.html">DAYCARE</a>
          </span>
                <a href="pricing.html">PRICING</a>
              <a href="contact us.html">CONTACT US</a>
    </div>
  </form>
  <form class="" action="dog.html" method="post">



    <p><font size="7" face="Mangal" color="purple"> <h1 ALIGN="center">OWNER</h1></p></font>
    <table ALIGN="center" border="4" bordercolor="#336699" cellpadding="2" cellspacing="2" width="50%">
      <thead>

  <th>  <h2><font size="6" face="Mangal" color="orange"><label for="any">Name:</label><br></th>
  <th> <h2><font size="6" face="Mangal" color="orange"> <label for="any">Email id:</label><br></th>
  <th> <h2><font size="6" face="Mangal" color="orange"> <label for="any">Contact number:</label><br></th>
  <th> <h2><font size="6" face="Mangal" color="orange"> <label for="any">Pet name:</label><br></th>
<th>  <h2><font size="6" face="Mangal" color="orange">  <label for="any">Address:</label><br></th>
  </thead>
  <tr>
    <td> <h2><font size="4" face="Mangal" color="white">sneha</td>
    <td><h2><font size="4" face="Mangal" color="white">sneha@gmail.com</td>
    <td><h2><font size="4" face="Mangal" color="white">2578358</td>
    <td><h2><font size="4" face="Mangal" color="white">cocco</td>
    <td><h2><font size="4" face="Mangal" color="white">jamshedpur</td>
  </tr>
    </table>
    <input type="submit" name="" value=" your dog details here!!"></font>
    </h2>
  </form>
  <hr width="100%" color="gold">
  <p><centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
  Phone: (80423) 745-711 | Fax: (8022) 7445-76284
  Copyright 2018 Happy Paws. All Rights Reserved. Web Design by Raycomi Media.</font size></centre></p>
  </body>
</html>
