{% load static %}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={% static "p2.css" %}>
    <link rel="stylesheet" href={% static "p5.css" %}>
    <link rel="stylesheet" href={% static "p6.css" %}>
<link rel="stylesheet" href={% static "p7.css" %}>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Dancing+Script|Lobster|Pacifico|Play|Roboto" rel="stylesheet">
      <title></title>

  </head>
  <body background={% static "imj\t1.jpg" %}>
    <div class="logo"> <a href="/"></a>
      <img src={% static "imj\logo1.jpg" %} alt="">
    </div>
    <nav>
       <ul>
       <li> <a href="\">HOME</a></li>
       <li> <a href="signin">LOGIN</a></li>
      <li> <a href="add_owner">SIGNUP</a></li>
      <li> <a href="grooming">GROOMING</a></li>
      <li> <a href="boarding">BOARDING</a></li>
      <li> <a href="daycare">DAYCARE</a></li>
      <li> <a href="pricing">PRICING</a></li>
       <li> <a href="contactus">CONTACT US</a></li>
           </ul>
          </nav>
           <div class="atc">
           <h1 id="h4u">hAppY PaWs</h1>
           <table class="tabs" border="2">

               <tr id="tt5">
               <th id="tt">Type </th>
               <th id="tt1">size</th>
               <th id="tt2">prices</th>
               </tr>
               <tr id="tl1">
                 <td id="tl2"> hair cut</td>
                 <td id="tl3"> small <br>medium <br>large <br></td>
                 <td id="tl4"> Rs.1000 <br>Rs.1500 <br> Rs.2000</td>
               </tr>
              <tr id="tj1">
                <td> daycare(daytime)</td>
                <td> small <br>medium <br>large <br></td>
                <td>Rs.3500 <br>Rs.4000 <br> Rs.4500</td>
              </tr>
              <tr id="tk1">
                <td> Boarding(day & night)</td>
                <td> small <br>medium <br>large <br></td>
                <td>Rs.5000 <br>Rs.5500 <br> Rs.6000</td>
              </tr>
              <tr id="tm1">
                <td>Regular bath</td>
                <td> small <br>medium <br>large <br></td>
                <td>Rs.800 <br>Rs.900 <br> Rs.1000</td>
            </tr>
            <tr id="tm2">
              <td>Bath(with shampoo)</td>
              <td> small <br>medium <br>large <br></td>
              <td>Rs.1100 <br>Rs.1400 <br> Rs.1700</td>
          </tr>
            <tr id="tn1">
                <td>Nail cut</td>
               <td>ALL</td>
                <td>Rs.700</td>
            </tr>
           </table>
           <hr width="100%" color="gold">
<p> <centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
Phone: (80423) 745-711 | Fax: (8022) 7445-76284
Copyright 2018 hAppY PaWs. All Rights Reserved.<br> Web Design <span>SNEHA AND SUBHIKSHA</span> .</font size></centre></p>
</body>
</html>
