<html>
<!DOCTYPE html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="part1_master.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <title>contactUs</title>
    <style>
      body{
        color: yellow;
        margin:0;
        pading:0;
        background position:centre;
        background-repeat:no-repeat;
        background-size: cover;
        height:1100px;
        font-family:sans-serif;
        position: relative;
      }
    </style>
  </head>
  <body background="images\contact us image.jpg">
    <form class="ABC" action="welcome.html" method="get">

    <font  face="calibri" color="red">  <h1 id="AA"> HAPPY PAWS</h1></font>
      <p></p>
      <p></p>
  <div class="browse">

          <a href="homepage.html">HOME</a>
          <a href="log.html">LOGIN</a>
          <a href="SIGNUP.html">SIGNUP</a>
          <span id="hello">
        <a href="grooming.html">GROOMING</a>
        <a href="boarding.html">BOARDING</a>
        <a href="daycare.html">DAYCARE</a>
      </span>
            <a href="pricing.html">PRICING</a>
          <a href="contact us.html">CONTACT US</a>
    </div>



    <font size="8" face="Mangal" color="black"><label>  Owner Name:<br> <input type="text" name="Name"><br></label>
    <font size="8" face="Mangal" color="black"><label> Email ID : <br><input type="email" name="Email ID"><br></label><br>
    <font size="8" face="Mangal" color="black"><label> Pet Name :<br><textarea cols="20" rows="1" name="pet name"></textarea></label><br>
          <font size="8" face="Mangal" color="black"><label> Number of pets you own: <br><input type="number" name=""><br></label>
                <font size="8" face="Mangal" color="black"><label>Dog's age :<br> <input type="number" name="dage"><br></label>
                      <font size="8" face="Mangal" color="black"><label> breed of your dog :<br><input type="text" name="dbreed"><br></label>

    <font size="8" face="Mangal" color="black"><label> Contact number : <br><input type="text" name="contact number"><br></label>
    <font size="8" face="Mangal" color="black"><label> Address : <br><textarea cols="20" rows="2" name="address"></textarea></label><br>
  <font size="8">  <input type="submit" name="submit" value="SUBMIT">
  </form>
  <hr width="100%" color="gold">
  <p><centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
  Phone: (80423) 745-711 | Fax: (8022) 7445-76284
  Copyright 2018 Happy Paws. All Rights Reserved. Web Design by Raycomi Media.</font size></centre></p>
  </body>
</html>
