{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href={% static "part1_master.css" %}>


<title>LOGIN</title></head>
<body background={% static "contactUs image.jpg" %}>
  <form class="ABC" action="signin" method="post">
      {% csrf_token %}
        <h1 id="AA"> HAPPY PAWS</h1>
        <p></p>
        <p></p>
    <div class="browse">

        <a href="\homepage.html">HOME</a>
        <a href="\log.html">LOGIN</a>
              <a href="\signup.html">SIGNUP</a>
        <span id="hello">
      <a href="\grooming.html">GROOMING</a>
      <a href="\boarding.html">BOARDING</a>
      <a href="\daycare.html">DAYCARE</a>

    </span>
          <a href="\pricing.html">PRICING</a>
        <a href="\login2.html">CONTACT US</a>
      </div>

<p><font size="7" face="Gill Sans MT" color="black">Alredy a member</p>
<p>
<font size="12" face="Ink Free" color="cyan">
LOG IN
</font></p>
<font size="6" face="Gill Sans MT" color="black"><label> Username: <br><input type="text" name="username" ><br></font></label>
<!--<font size="6" face="Gill Sans MT" color="black"><label> Email ID : <br><input type="text" name="Email ID"><br></label>-->
<!--<font size="6" face="Gill Sans MT" color="black"><label> Contact number : <br><input type="text" name="contact number"><br></label>-->
<font size="6" face="Gill Sans MT" color="black" ><label> Password : <br><textarea cols="30" rows="2" name="password" type="password"></textarea></label><br>
<!--<font size="6" face="Gill Sans MT" color="black"><label> Address : <br><textarea cols="40" rows="3" name="address"></textarea></label><br>-->
<input type="submit" name="submit" value="submit">
</form>
<br>
<br>
<hr width="100%" color="gold">
<p><centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
Phone: (80423) 745-711 | Fax: (8022) 7445-76284
Copyright 2018 Happy Paws. All Rights Reserved. Web Design by Raycomi Media.</font size></centre></p>
</body>
</html>
