{% load static %}
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={% static "p2.css" %}>
    <link rel="stylesheet" href={% static "p5.css" %}>
    <link rel="stylesheet" href={% static "p6.css" %}>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Dancing+Script|Lobster|Pacifico|Play|Roboto" rel="stylesheet">
      <title></title>
  </head>
  <body background={% static "imj\pp.jpg" %}>
    <div class="logo"> <a href="/"></a>
      <img src={% static "imj\logo1.jpg" %} alt="">
    </div>
    <nav>
       <ul>
       <li> <a href="\">HOME</a></li>
       <li> <a href="\signin">LOGIN</a></li>
      <li> <a href="\add_owner">SIGNUP</a></li>
      <li> <a href="\grooming">GROOMING</a></li>
      <li> <a href="\boarding">BOARDING</a></li>
      <li> <a href="\daycare">DAYCARE</a></li>
      <li> <a href="\pricing">PRICING</a></li>
       <li> <a href=\"contactus">CONTACT US</a></li>
           </ul>
          </nav>
           <div class="atc">

           <h1 id="h4u">hAppY PaWs</h1>

              <h2 id="h4u">Welcome {{owners.name}}</h2>



             <table class="finaltable" border="2">
               <thead>
                 <th>no.</th>
                 <th>your dogs</th>
                 <th>add service</th>
                 <th>view service</th>

               </thead>
              {% for d in dogs %}
              <tr>
                <td>{{d.id}}</td>
                <td>{{d.name}}</td>
                <td><a href ='added_service/{{d.id}}' > View service </a></td>
                <td><a href ='add_service/{{d.id}}' > Add service </a></td>
              </tr>
              {% endfor %}

             </table>
             <a href='add_dog/{{owners.id}}'> <h4>Add Dogs</h4> </a>

             <hr width="100%" color="silver">
            <p> <centre><font size="4">Happy Paws, 213 valley Spring Road, Richmond, B'lore 23225
            Phone: (80423) 745-711 | Fax: (8022) 7445-76284
            Copyright 2018 hAppY PaWs. All Rights Reserved.<br> Web Design <span>SNEHA AND SUBHIKSHA</span>
                </font size></centre></p>
                           </body>
                                   </html>
