#tt5{
 font-size: 20px;
color: black;
}
#tt,#tt1,#tt2{
  background-color: pink;
}
.tabs{
  text-align: center;
  margin-left: 8%;
  font-size: 15px;
}
table{
  font-size: 20px;
  background-color: pink;
  border-radius: 10px;
  width: 400px;
  border: 2px solid purple;
  height: 200px;
}
#end{
  text-align: center;
  font-weight: bold;
  color: black;
}
